
//color
$color-back : #e8e8e8;
$color-dark : #3d4144;
$color-font : #888888;
$color-red : #ca7379;


//size
$size-content: 1170px;
$size-basic : 10px;

//font
$font-small : 12px;
$font-middle : 14px;
$font-large : 34px;


//단축형
$content:$size-content;
$basic:$size-basic;
$full:100%;

$small:$font-small;
$large:$font-large;

$back:$color-back;
$dark:$color-dark;
$color:$color-font;
$red:$color-red;
$black: #000;
$white : #fff;
