@use './variable' as *;
@use './mixin' as *;

header{
    padding: 72px 0 22px;
    background-color: $back;
    position: relative;
    div.button{
        h1{
        @include center;
        margin-bottom: 48px;
        } 
        nav{
            ul{
                @include layout($start:center);
                li{
                    position: relative;
                    margin: 0 25px;
                    padding-bottom: $basic;
                    a{
                        font-size: $small;
                        color: $dark;
                    }
                    span{
                        position: absolute;
                        left: 0; bottom: 0;
                        width: $full;
                        height: 2px;
                        background-color: transparent;
                    }
                    &:hover{
                        span{
                            background-color: $black;
                        }
                    }
                }
            }
        }
    }
    div.top{
        position: absolute;
        width: $full;
        padding: $basic*2 0;
        background-color: $white;
        left: 0; top: 0;
        p{
            @include width;
            width: $content;
            a{
                font-size: $small;
                color: $color;
            }
        }
    }

}